

  <div class="forum">
    <ul class="posts">
      <li class="post">
        <h4>HaMoZi</h4>
        <p>Borges é mto é buxa, sla, só sei q ele é buxa</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(999+)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(1)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Heleno</h4>
        <p>cd o morbius?</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(2)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(0)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Milause</h4>
        <p>RPG VEYRRRRRR</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(1)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(16)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>valada é otário</h4>
        <p>foi o tdah ;-;</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(6)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(2)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Morata</h4>
        <p>BOLSONARO FOREVER</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(22)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(13)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>goiano safado</h4>
        <p>oh mizera *com sotaque goiano*</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(5)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(2)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Calderão</h4>
        <p>VASCO DA GAMA!</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(999+)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(6)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Mechemeche</h4>
        <p>é cada uma que parece duas...</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(5)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(2)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>aninha</h4>
        <p>qro ir pra casa</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(3)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(0)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Enrico</h4>
        <p>cd o barros?</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(2)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(0)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Barros</h4>
        <p>cd o enri?</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(1)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(0)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Vituh</h4>
        <p>eu amo ordem paranormal</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(3)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(4)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Gui da gaita</h4>
        <p>*sons de gaita*</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(78)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(0)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Resende</h4>
        <p>Tenz no prime ganha do aspas 🤓☝️</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(2)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(14)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Stones</h4>
        <p>Marvel morreu desde ultimato.</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(12)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(2)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Ícarus mono doom</h4>
        <p>buffa doom</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(27)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(1)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Remédios</h4>
        <p>vo jogar smash</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(14)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(0)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Linhares</h4>
        <p>vo comprar cartinha pokemon</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(2)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(0)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>LucasBGS</h4>
        <p>rios n estuda, é mto é vagabundo 🤓☝️😡😡😡</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(1)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(356)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Pvvinho</h4>
        <p>vo escolher uma música q ngm gosta</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(6)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(0)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Dieguin'</h4>
        <p>vo escolher break free dnv</p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(2)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(1)</span></button>
        </div>
      </li>
      <li class="post">
        <h4>Garcia</h4>
        <p>detran é coisa de escangalhado </p>
        <div class="actions">
          <button class="like-button">Curtir <span class="like-count">(15)</span></button>
          <button class="dislike-button">Não Curtir <span class="dislike-count">(3)</span></button>
        </div>
      </li>
    </ul>
  </div>
