body {
    font-family: Arial, sans-serif;
    background-color: rgb(25, 20, 40);
    color: #f9f9f9;
    margin: 0;
    padding: 20px;
  }
  
  .qa-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  
  }
  
  .question {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: rgb(130, 6, 161);
  }
  
  .answer {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  .qa-container + .qa-container {
    margin-top: 10px;
  }
  