
    <div class="qa-container">
        <div class="question">1. O que é a Ceubosu!?</div>
        <div class="answer">É o jogo de ritmo do CEUB criado por Felipe Rios que ainda está em fase de desenvolvimento. Ele será lançado no dia em que ele parar de dormir e procrastinar. Enquanto isso, aprecie uma skin do CEUB para o Osu! normal, que estará disponível para download em no máximo 2 semanas a partir de hoje (26/11/24)</div>
    </div>

    <div class="qa-container">
        <div class="question">2. Como que o ranking está escrito?</div>
        <div class="answer">O ranking da Ceubosu! está escrito no formato de: ranking, nome de usuário e precisão, respectivamente.</div>
    </div>

    <div class="qa-container">
        <div class="question">3. Por que eu não consigo escrever e nem usar os botões de curtida do fórum?</div>
        <div class="answer">Porque esta função ainda está em desenvolvimento. Será terminado no momento em que o criador terminar o seu curso de Frontend.</div>
    </div>

    <div class="qa-container">
        <div class="question">4. Qual é o mapa da beta do jogo?</div>
        <div class="answer"><a href="https://osu.ppy.sh/beatmapsets/623924#osu/1474956" target="_blank">O mapa OG dessa música.</a></div>
    </div>


